/* 
    Document   : estilo
    Created on : 02/06/2013, 03:57:13
    Author     : Marcos Web
*/

* { 
    padding: 0; 
    margin: 0 ; 
    font: normal 16px 'courier new'; 
    text-align: right 
}
table { 
    margin: 10px auto; 
}
th { 
    text-align: center
}
td { 
    padding: 2px 4px; 
    border: solid 1px #fff; 
    background-color: #c1c1c1;
    border-radius: 3px
}
.super { 
    font-weight: bold;
    background-color: green;  
}
.quase { 
    font-weight: bold;
    background-color: orange;  
}
.acerto { 
    font-weight: bold; 
    background-color: #999; 
}
h6, p { 
    text-align: center
}
.users { 
    display: table; 
    margin: 10px auto 30px; 
    padding: 10px; 
}
.users li { 
    display: inline 
}
.users li a { 
    font: bold 18px arial; 
    text-decoration: none; 
    color: #a1a1a1;
    border-radius: 5px;
    margin: 0 10px;  
    padding: 10px 50px;
    background-color: #e1e1e1; 
}
.users li a:hover { 
    background-color: #d1d1d1; 
}

